@model IEnumerable<Models.EntityModel.DonHang>

@{
    ViewBag.Title = "Danh sách hàng chờ";
}


<div class="md-card">
    <div class="md-card-content">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <div class="uk-overflow-container">
                    <div class="md-card uk-margin-medium-bottom">
                        <div class="md-card-content">
                            <h2>Danh sách đơn hàng đang chờ</h2>
                            <p>
                                @*<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "DonHang")'">Thêm mới</button>*@
                            </p>
                                @*<p>
                                    @Html.ActionLink("Create New", "Create")
                                </p>*@
                                <table id="example" class="cell-border" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Tài khoản
                                            </th>
                                            <th>
                                                Giá tiền dự kiến
                                            </th>
                                            <th>
                                                Địa chỉ gửi
                                            </th>
                                            <th>
                                                Địa chỉ nhận
                                            </th>
                                            
                                            <th>
                                                Tình trạng
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TenTaiKhoan)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ThanhTien)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DiaChiGui)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DiaChiNhan)
                                                </td>
                                                
                                                <td>@Html.DisplayFor(modelItem => item.TinhTrang)</td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "DonHang",new { id = item.MaDonHang})"><span class="glyphicon glyphicon-edit"> </span></a>
                                                    <a href="@Url.Action("Details", "DonHang",new { id = item.MaDonHang})"><span class="glyphicon glyphicon-zoom-in"> </span></a>
                                                    <a href="@Url.Action("Delete", "DonHang",new { id = item.MaDonHang})"><span class="glyphicon glyphicon-trash"> </span></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}
