@model IEnumerable<Models.EntityModel.DonHang>

@{
    ViewBag.Title = "Danh sách đơn hàng";
}

<h2>Danh sách đơn hàng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="md-card">
    <div class="md-card-content">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <table id="example" class="uk-table">
                    <thead>
                        <tr>
                            <th>
                                Người tạo
                            </th>
                            <th>
                                Ngày tạo
                            </th>
                            <th>
                                Giá tiền
                            </th>
                            <th>
                                Địa chỉ gửi
                            </th>
                            <th>
                                Địa chỉ nhận
                            </th>
                            <th>
                                Tình trạng
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenTaiKhoan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ThoiDiemDatDonHang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ThanhTien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChiGui)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChiNhan)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.TinhTrang)</td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaDonHang }) |
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MaDonHang }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaDonHang })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}
