@model Models.EntityModel.KienHang

@{
    ViewBag.Title = "Chi tiết";
}

<h2>Chi tiết</h2>

<div>
    <h4>Kiện hàng</h4>
    <hr />
    <div class="md-card">
        <div class="md-card-content">
            <dl class="dl-horizontal">
                <dt>
                    Mã đơn hàng
                </dt>

                <dd>
                    @Html.ActionLink(Model.MaDonHang.ToString(),"Details","DonHang",new {id=Model.MaDonHang },null)
                    @*@Html.DisplayFor(model => model.MaDonHang)*@
                </dd>

                <dt>
                    Tình trạng
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TinhTrang)
                </dd>
                <dt>
                  Ghi chú
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GhiChu)
                </dd>

                <dt>
                   Trọng lượng
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TrongLuong)
                </dd>

                <dt>
                    Chiều dài
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ChieuDai)
                </dd>

                <dt>
                   Chiều rộng
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ChieuRong)
                </dd>

                <dt>
                   Mô tả
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MoTa)
                </dd>

                <dt>
                   Số lượng
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SoLuong)
                </dd>

                <dt>
                   Nội dung
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NoiDung)
                </dd>

            </dl>
        </div>
    </div>
</div>
        <p>
            @Html.ActionLink("Sửa", "Edit", new { id = Model.MaKienHang }) |
            @Html.ActionLink("Trở về danh sách", "Index")
        </p>
