@model IEnumerable<Models.EntityModel.DonHang>

@{
    ViewBag.Title = "Danh sách đơn hàng";
}
<style>
    .DangCho{
        background-color:pink
    }
    .DangTrongQuaTrinh{
        background-color:yellow
    }
    .HoanThanh{
        background-color:forestgreen
    }
    .KhoaYeuCau{
        background-color:azure
    }
    .HideActionLink{
        display:none
    }
</style>
<div class="container">
    <p>
        @*@Html.ActionLink("Đơn hàng mới", "Create")*@
        <button class="btn-default" style="margin-top:20px;" onclick="location.href='@Url.Action("Create", "DonHang")';return false;">
            <img src="http://icons.iconarchive.com/icons/custom-icon-design/office/256/add-2-icon.png" width="23" /> 
        Tạo mới
        </button>
    </p>
    <table class="table table-bordered">
        <tr>
            <th>
                Người gửi
            </th>
            <th>
                Địa chỉ gửi
            </th>
            <th>
                Người nhận
            </th>
            <th>
                Địa chỉ nhận
            </th>
            <th>
                Thành tiền
            </th>
            <th>
                Ghi chú
            </th>
            <th>
                Tình trạng
            </th>
            <th></th>
        </tr>
        @if (!Model.Any())
        {
            <text> <p style="color:red">Không có dữ liệu.</p></text>
        }
        else
        {
            ViewBag.TinhTrang="";
            ViewBag.HidenLink = "";
            foreach (var item in Model)
            {
                switch (item.TinhTrang)
                {
                    case "Đang chờ":
                        ViewBag.TinhTrang = "DangCho";
                        ViewBag.HidenLink = "";
                        break;
                    case "Đang trong quá trình":
                        ViewBag.TinhTrang = "DangTrongQuaTrinh";
                        ViewBag.HidenLink = "";
                        break;
                    case "Hoàn thành":
                        ViewBag.TinhTrang = "HoanThanh";
                        ViewBag.HidenLink = "";
                        break;
                    case "Đã khóa yêu cầu":
                        ViewBag.HidenLink = "HideActionLink";
                        ViewBag.TinhTrang = "KhoaYeuCau";
                        break;
                }

                <tr class="@ViewBag.TinhTrang">
                    <td>
                        @Html.DisplayFor(modelItem => item.NguoiGui)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChiGui)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NguoiNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChiNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThanhTien)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.GhiChu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TinhTrang)
                    </td>

                    <td>
                        @Html.ActionLink("Xác nhận |", "XacNhan","DonHang", new { id = item.MaDonHang},new { @class = ViewBag.HidenLink })
                        @Html.ActionLink("Xóa |", "Delete","DonHang", new { id = item.MaDonHang }, new { @class = ViewBag.HidenLink }) 
                        @Html.ActionLink("Thêm |", "Create", "KienHang", new { id = item.MaDonHang }, new { @class = ViewBag.HidenLink }) 
                        <a href="@Url.Action("Details", "DonHang",new { id = item.MaDonHang})"><span class="glyphicon glyphicon-zoom-in"> </span></a>

                        @*<a href="@Url.Action("Edit", "DonHang",new { id = item.MaDonHang})"><span class="glyphicon glyphicon-edit"> </span></a>*@                       
                       
                    </td>
                </tr>
            }
        }
    </table>
</div>
