@model Models.EntityModel.KienHang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KienHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt>
            Mã đơn hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDonHang)
        </dd>

        <dt>
            Tình trạng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            Trọng lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrongLuong)
        </dd>

        <dt>
            Chiều dài
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChieuDai)
        </dd>

        <dt>
            Chiều rộng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChieuRong)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaKienHang }) 
</p>
