@model IEnumerable<Models.EntityModel.HanhTrinh>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HanhTrinh1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemKetThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuangDuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HanhTrinh1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemKetThuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuangDuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHanhTrinh }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHanhTrinh }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHanhTrinh })
        </td>
    </tr>
}

</table>
