@model IEnumerable<Models.EntityModel.LoaiKhachHang>

@{
    ViewBag.Title = "Index";
}

<div class="md-card">
    <div class="md-card-content">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <div class="uk-overflow-container">
                    <div class="md-card uk-margin-medium-bottom">
                        <div class="md-card-content">
                            <p>
                                @Html.ActionLink("Create New", "Create")
                            </p>
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TenLoaiKH)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MoTa)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenLoaiKH)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MoTa)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.MaLoaiKH }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.MaLoaiKH }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.MaLoaiKH })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>